<div class="invoice-records" style="margin-top: 18px;">
  @for (invoice of invoices(); track invoice.id) {
    <article class="invoice-record" (click)="invoiceDetail.emit(invoice)">
      <p class="invoice-record__id">
        <span>#</span>{{ invoice.id }}
      </p>

      <p class="invoice-record__date">
        {{ invoice.createdAt | italianDate  }}
      </p>

      <p class="invoice-record__client">
        {{ invoice.clientName }}
      </p>

      <p class="invoice-record__total">
        {{ invoice.total | euroCurrency }}
      </p>

      <div class="invoice-record__status invoice-record__status--{{ invoice.status }}">
        <span></span>
        {{ getStatusLabel(invoice.status) }}
      </div>

      <button type="button" class="invoice-record__arrow" aria-label="Apri fattura">
        <img src="assets/images/icon-arrow-right.svg" alt="">
      </button>
    </article>
  }
</div>