<div class="form-field">
  @if (labelIsVisible()) {
    <div class="form-field__header">
      <label
        class="form-label"
        [class.form-label--error]="firstError()"
        [attr.for]="id()">
        {{ label() }}
      </label>

      @if (firstError()) {
        <p class="form-error">{{ firstError() }}</p>
      }
    </div>
  }

  <input
    class="form-control"
    [class.form-control--error]="firstError()"
    [id]="id()"
    [type]="type()"
    [placeholder]="placeholder()"
    [formField]="field()"
  />
</div>