<div class="form-field">
  <div class="form-field__header">
    <label
      class="form-label"
      [class.form-label--error]="firstError()"
      [attr.for]="id()">
      {{ label() }}
      
        @if (isRequired()) {
          <span>*</span>
        }
    </label>

    @if (firstError()) {
      <p class="form-error">{{ firstError() }}</p>
    }
  </div>

  <select
    class="form-control form-select"
    [class.form-control--error]="firstError()"
    [id]="id()"
    [formField]="field()">

    @for (option of options(); track option.value) {
      <option [value]="option.value">
        {{ option.label }}
      </option>
    }

  </select>
</div>