<nav class="sidebar">
  <div class="sidebar__logo">
    <img src="assets/images/logo.svg" alt="InvoiceFlow logo">
  </div>

    <button
      class="sidebar__theme-toggle"
      type="button"
      aria-label="Cambia tema"
      title="Cambia tema"
      (click)="toggleTheme()">

      @if (themeService.isDarkMode()) {
        <img src="assets/images/icon-sun.svg" alt="">
      } @else {
        <img src="assets/images/icon-moon.svg" alt="">
      }

    </button>

  <div class="sidebar__footer">

    @if (currentUser()) {
      <button
        class="sidebar__settings"
        type="button"
        aria-label="Impostazioni"
        title="Impostazioni"
        (click)="openSettingsPanel()">
        <img
          class="sidebar__settings-icon"
          src="https://img.icons8.com/?size=100&id=flyFkP7sj07V&format=png&color=7E88C3"
          
          alt="">
      </button>


      <button
        class="sidebar__clients"
        type="button"
        aria-label="Clienti"
        title="Clienti"
        routerLink="/clients">
        <img
          class="sidebar__clients-icon"
          src="https://img.icons8.com/?size=100&id=108343&format=png&color=7E88C3"
          alt="">
      </button>


      <button
        class="sidebar__logout"
        type="button"
        aria-label="Esci"
        title="Esci"
        (click)="logout()">
        <img
          class="sidebar__logout-icon"
          src="https://img.icons8.com/?size=100&id=2445&format=png&color=7E88C3"
          alt="">
      </button>
    }

    @if (currentUser()) {
      <hr>

      <div class="sidebar__avatar">
        <img
          [src]="currentUser()?.avatarBase64 || 'assets/images/logo.svg'"
          [alt]="'Avatar di ' + currentUser()?.fullName">
      </div>
    }

  </div>
</nav>

@if (settingsPanelIsOpen()) {
  <app-settings-panel (closed)="closeSettingsPanel()"></app-settings-panel>
}