<nav class="sidebar">
  <div class="sidebar__logo">
    <img src="assets/images/logo.svg" alt="InvoiceFlow logo">
  </div>

  <div class="sidebar__footer">

    <button
      class="sidebar__theme-toggle"
      type="button"
      aria-label="Cambia tema"
      title="Cambia tema"
      (click)="toggleTheme()">

      @if (themeService.isDarkMode()) {
        <img src="assets/images/icon-sun.svg" alt="">
      } @else {
        <img src="assets/images/icon-moon.svg" alt="">
      }

    </button>

    @if (currentUser()) {
      <button
        class="sidebar__logout"
        type="button"
        aria-label="Logout"
        title="Esci"
        (click)="logout()">
        Esci
      </button>
    }

    @if (currentUser()) {
      <hr>

      <div class="sidebar__avatar">
        <img
          [src]="currentUser()?.avatarBase64 || 'assets/images/logo.svg'"
          [alt]="'Avatar di ' + currentUser()?.fullName">
      </div>
    }

  </div>
</nav>