<div [style.justify-content]="setJustifyContent()" class="container">
  @if (discardIsVisible()) {
    <button
      (click)="discardClicked.emit()"
      class="btn btn-edit-light"
      [style.order]="discardOrder()"
    >
      Annulla
    </button>
  }

  @if (saveAsDraftIsVisible()) {
    <button
      (click)="saveAsDraftClicked.emit()"
      class="btn btn-draft-light"
      [style.order]="saveAsDraftOrder()"
    >
      Salva in bozza
    </button>
  }

  @if (saveAndSendIsVisible()) {
    <button
      (click)="saveAndSendClicked.emit()"
      class="btn btn-primary"
      [style.order]="saveAndSendOrder()"
    >
      Salva e Invia
    </button>
  }

  @if (saveChangesIsVisible()) {
    <button
      class="btn btn-primary"
      [style.order]="saveChangesOrder()"
    >
      Salva i cambiamenti
    </button>
  }

  @if (deleteIsVisible()) {
    <button
      (click)="deleteClicked.emit()"
      class="btn btn-danger"
      [style.order]="deleteOrder()"
    >
      Elimina
    </button>
  }

  @if (editIsVisible()) {
    <button
      (click)="editClicked.emit()"
      class="btn btn-primary"
      [style.order]="editOrder()"
    >
      Modifica
    </button>
  }
</div>