:root {
  // Primary
  --color-primary: #7c5dfa;
  --color-primary-light: #9277ff;

  // Dark colors
  --color-dark-blue: #1e2139;
  --color-dark-blue-light: #252945;
  --color-dark-bg: #141625;
  --color-black: #0c0e16;

  // Light colors
  --color-light-purple: #dfe3fa;
  --color-muted-purple: #888eb0;
  --color-muted-blue: #7e88c3;
  --color-light-bg: #f8f8fb;

  // Alert colors
  --color-danger: #ec5757;
  --color-danger-light: #9277ff;

  // Pure
  --color-white: #ffffff;

  // Status
  --color-status-paid: #33d69f;
  --color-status-pending: #ff8f00;
  --color-status-draft: #373b53;
}