body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
}

.heading-l {
  font-size: 36px;
  line-height: 33px;
  letter-spacing: -1px;
  font-weight: 700;
}

.heading-m {
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.75px;
  font-weight: 700;
}

.heading-s {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.25px;
  font-weight: 700;
}

.heading-s-variant {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}

.body-text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  font-weight: 500;
}

.body-text-variant {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 500;
}