<div class="invoice-form-backdrop">
  <aside class="invoice-form-panel">
    <div class="invoice-form-content">

      <h1 class="heading-m">
        {{ title() }}
      </h1>

      <section class="invoice-form-section">
        <h2 class="invoice-form-section__title">Da chi viene emessa</h2>

        <app-generic-input
          label="Indirizzo"
          id="sender-street"
          [field]="invoiceForm.senderAddress.street">
        </app-generic-input>

        <div class="invoice-form-grid invoice-form-grid--3">
          <app-generic-input
            label="Città"
            id="sender-city"
            [field]="invoiceForm.senderAddress.city">
          </app-generic-input>

          <app-generic-input
            label="CAP"
            id="sender-post-code"
            [field]="invoiceForm.senderAddress.postCode">
          </app-generic-input>

          <app-generic-input
            label="Paese"
            id="sender-country"
            [field]="invoiceForm.senderAddress.country">
          </app-generic-input>
        </div>
      </section>

      <section class="invoice-form-section">
        <h2 class="invoice-form-section__title">Cliente</h2>

        <app-generic-input
          label="Nome cliente"
          id="client-name"
          [field]="invoiceForm.clientName">
        </app-generic-input>

        <app-generic-input
          label="Email cliente"
          id="client-email"
          type="email"
          [field]="invoiceForm.clientEmail">
        </app-generic-input>

        <app-generic-input
          label="Indirizzo"
          id="client-street"
          [field]="invoiceForm.clientAddress.street">
        </app-generic-input>

        <div class="invoice-form-grid invoice-form-grid--3">
          <app-generic-input
            label="Città"
            id="client-city"
            [field]="invoiceForm.clientAddress.city">
          </app-generic-input>

          <app-generic-input
            label="CAP"
            id="client-post-code"
            [field]="invoiceForm.clientAddress.postCode">
          </app-generic-input>

          <app-generic-input
            label="Paese"
            id="client-country"
            [field]="invoiceForm.clientAddress.country">
          </app-generic-input>
        </div>
      </section>

      <section class="invoice-form-section">
        <div class="invoice-form-grid invoice-form-grid--2">
          <app-calendar-input
            label="Data fattura"
            id="created-at"
            [field]="invoiceForm.createdAt">
          </app-calendar-input>

          <app-select-input
            label="Termini di pagamento"
            id="payment-terms"
            [field]="invoiceForm.paymentTerms"
            [options]="paymentTermsOptions">
          </app-select-input>
        </div>

        <app-generic-input
          label="Descrizione progetto"
          id="description"
          [field]="invoiceForm.description">
        </app-generic-input>
      </section>

      <section class="invoice-form-section">
        <h2 class="invoice-form-items-title">Lista articoli</h2>

        <!-- Qui poi ci mettiamo la sezione Item List -->
      </section>

      <app-actions-button
        [discardIsVisible]="true"
        [saveAndSendIsVisible]="true"
        [saveChangesIsVisible]="false"
        [saveAsDraftIsVisible]="true"
        (discardClicked)="closeForm()"
        (saveAndSend)="saveAndSend()">
      </app-actions-button>

    </div>
  </aside>
</div>