.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-page-bg);
  position: relative;

  .app-layout__content{
    width: 100%;
  }
}
app-invoice-form{
  position: absolute;
  top: 0;
  left: 9%;
}

