.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-page-bg);
  position: relative;
}
app-invoice-form{
  position: absolute;
  top: 0;
  left: 9%;
}

.app-layout__content {
  flex: 1;
  padding: 72px 48px 0 60px;
}