.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-page-bg);
  position: relative;
  transition: background-color 0.2s ease;

  .app-layout__content {
    width: 100%;
  }
}